input{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

button.btn.button-card {
    display: flex;
    margin-bottom: 0.5rem;
}

.btn-danger {
    align-self: flex-end;
    flex-direction: column;
}