.card-body.res{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resStats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card.res{
    color: white;
    width: 18rem;
    padding: 1.4rem;
    margin: 0.5rem;
    font-weight: bold;
    text-align: center;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card#nbQuestions{
    background-color: blue;
    align-self: center;
}

.card#true{
    background-color: green;
}

.card#false{
    background-color: red;
}

.card#skipped{
    background-color: purple;
}

.card-title.cussize-1x{
    font-size: 28pt;
}