.card-body.res{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resStats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mycard.res{
    color: white;
    width: 18rem;
    padding: 1.4rem;
    margin: 0.5rem;
    font-weight: bold;
    text-align: center;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mycard#nbQuestions{
    background-color: blue;
    align-self: center;
}

.mycard#true{
    background-color: green;
}

.mycard#false{
    background-color: red;
}

.mycard#skipped{
    background-color: purple;
}

.darktheme.mycard#true{
    box-shadow: 0px 0px 4px ;
    background-color: inherit;
    color: #bb86fc;
}

.darktheme.mycard#false{
    box-shadow: 0px 0px 4px #352c2d;
    background-color: inherit;
    color: #ff7597;
}

.darktheme.mycard#nbQuestions{
    box-shadow: 0px 0px 4px #ffd740;
    background-color: inherit;
    color: #ffd740;
}

.darktheme.mycard#skipped{
    box-shadow: 0px 0px 4px #910d96;
    background-color: inherit;
    color: rgb(53, 53, 109);
}

.darktheme .mycard{
    box-shadow: 0px 0px 2px white;
  }

.card-title.cusize1x{
    font-size: 28pt;
}
.left{
    /*text-align: center;
    position:relative;
    right:45%;*/
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.btn-return-quiz{
    width: min-content;
}

.green{
    color: green;
}

.red{
    color: red;
}
