<div class="summary-actions-wrapper">

    <div class="cus-sizable wrapper-div card p-3 m-2 taille-card">
        <div>Statistique</div>
            <app-admin-chart [quiz]="quizToDispaly"></app-admin-chart>
            <div class="centre">
            <button  routerLink="./statistique" class="btn btn-info text-center mt-2">Voir</button>
        </div>
        </div>

        <div class="cus-sizable wrapper-div card p-3 m-2 taille-card">
            <div class="centre">
            <app-admin-form-creation-quiz (quizCreated)="create($event)"></app-admin-form-creation-quiz>
            <button routerLink="./quiz"  class="btn btn-info text-center mt-2">Voir</button>
        </div>
    </div>
</div>