 <div class="center-form ">
     
        <form [formGroup]="createQuiz" (ngSubmit)="create()">
            <div>
                <div> Quiz :</div>
                <input name="quizName" class="form-control" type="text" formControlName="quizName"
                    placeholder="Nom">
            </div>
            <div>
                <div>Theme :</div>
                <input class="form-control" type="text" formControlName="theme" placeholder="Theme">
            </div>
            <div>
                <!--  <button type='submit'>ajouter question</button>-->
                <button type="submit" class="btn btn-success mt-2 text-center">Valider</button>
            </div>
        </form>

    </div> 