<div class="header d-flex align-items-center" [ngClass]="setClasses()" [style.font-family]="fontFamily">
    <h2 class="mr-5" title="Poly">Poly'Quiz</h2>

    <div class="d-flex flex-column text-center">
        <em class="fas fa-3x fa-home"></em>
        <a class="align-self-center" href="http://localhost:4200" [ngClass]="setClasses()">Accueil</a>
    </div>


<div class="d-flex flex-column text-center">
    <em (click)="clickMe()" class="fas fa-3x fa-low-vision"></em>
    <label [ngClass]="setClasses()">Modifier la taille du texte</label>
</div>



<div class="text-center" [ngClass]="setClasses()">
    <div>
        <em (click)="toggleScreenReader()" class="fas fa-3x fa-file-audio"></em>
    </div>
    <ng-template [ngIf]="screenreader" [ngIfElse]="noreader">
        <p>Cacher le lecteur d'écran</p>
    </ng-template>
    <ng-template #noreader>
        <p class="text-center">Afficher le lecteur d'écran</p>
    </ng-template>
</div>



<div class="mt-2 text-center" [ngClass]="setClasses()">
    <mat-slide-toggle [checked]="darkMode" (toggleChange)="switchMode()">
        <em *ngIf="darkMode" class="fas fa-2x fa-moon"></em>
        <em *ngIf="!darkMode" class="fas fa-2x fa-sun"></em>
    </mat-slide-toggle>
    <ng-template [ngIf]="darkMode" [ngIfElse]="none">
        <p>Passer en mode jour</p>
    </ng-template>

    <ng-template #none>
        <p>Passer en mode nuit</p>
    </ng-template>
</div>

<select [(ngModel)]="fontFamily" (ngModelChange)="onFontChange($event)" name="font-selector" id="font-selector"
    class="form-control" [ngClass]="setClasses()">
    <option value="" [attr.selected]="fontFamily == '' ">Choisissez une police</option>
    <option *ngFor="let font of fontsAvailable" [style.font-family]="font" value={{font}}
        [attr.selected]="font==fontFamily ? true : false" [ngClass]="setClasses()">
        {{font}}</option>
</select>

</div>