

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: white;
}

.ordinarytheme{
  background: rgb(4, 4, 100);
}

a{
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  
  
}

.header.darktheme{
 
  background-color: #121212;
}

