<h2 class=" card-title text-center" [ngClass]="setClasses()">
    <app-lecteur [textToRead]="question.label" ></app-lecteur>
    {{question.label}}
</h2>
<form class=" answer-list " >
    
    
        <!--<span *ngFor="let answer of question.answers" class="ml-1 mr-1 btn btn-dark " [class.selected]="reponseValue === answer.value"  [ngClass]="setClasses()" >
            <app-lecteur [textToRead]="answer.value"></app-lecteur>

           <label  > <input class="radio-btn-discret" (change)="radioChangeHandler($event)"
            value="{{answer.value}}"  type="radio" style="width:200px" name="reponse"  >
            {{answer.value}}
        </label>
        </span>-->

        <label *ngFor="let answer of question.answers" class="ml-1 mr-1 btn btn-dark flexCustom" [class.selected]="reponseValue === answer.value" [ngClass]="setClasses()">
            <app-lecteur [textToRead]="answer.value" ></app-lecteur>
            <input class="radio-btn-discret" (change)="radioChangeHandler($event)" ng-click="$event.stopPropagation()"
            value="{{answer.value}}"  type="radio" name="reponse">
            {{answer.value}}
        </label>
        
    
    
</form>
<div class="text-center mt-3">
    <button [ngClass]="setClasses()" class="btn btn-success" (click)="changingQuestion()">Valider</button>
</div>
