  .btn_cntr{
      display: flex;
      justify-content: flex-end;
  }

  .answer-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .question {
    display: flex;
    justify-content: center;
  }