<h2 class=" card-title text-center" [ngClass]="setClasses()">
    <app-lecteur [textToRead]="question.label" ></app-lecteur>
    {{question.label}}
</h2>
<h3 [ngClass]="setClasses()" class="text-info text-center">
    <ng-container *ngIf="nbRightAnswers() > 1">
        <app-lecteur [textToRead]="'Il y a' + nbRightAnswers() + 'réponses justes possibles ! Veuillez en choisir une'" ></app-lecteur>
        Il y a {{nbRightAnswers()}} réponses justes possibles ! (Veuillez en choisir une)
    </ng-container>
    <ng-container *ngIf="nbRightAnswers() == 1">
        <app-lecteur [textToRead]="'Il y a une seule bonne réponse possible'"></app-lecteur>
        Il y a 1 seule bonne réponse possible.
    </ng-container></h3>
<form class=" answer-list " >

        <label *ngFor="let answer of question.answers" class="ml-1 mr-1 btn btn-dark flexCustom" [class.selected]="reponseValue === answer.value" [ngClass]="setClasses()">
            <app-lecteur [textToRead]="answer.value" ></app-lecteur>
            <input class="radio-btn-discret" (change)="radioChangeHandler($event)"
            value="{{answer.value}}"  type="radio" name="reponse">
            {{answer.value}}
        </label>
</form>
<div class="text-center mt-3">
    <app-lecteur [textToRead]="'Valider'" class="mr-2" ></app-lecteur>
    <button [ngClass]="setClasses()" class="btn btn-success" (click)="changingQuestion()" [disabled]="disableButton()">Valider</button>
</div>
