.wrapper-d-admin ul{
    list-style-type: none;
 
}

.taille-card{
    width: 33%;
    height: 33%;
}

.row{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.column{
    display: flex;
    flex-direction: row;
}