<mat-sidenav-container class="height-total">
    <mat-sidenav class="navbar sidenav-content" mode="side" opened>
        <ul>
            <li title="Home">
                <em  class="fas fa-2x fa-home"></em>
                <span class="menu-title" >Dashboard</span>
            </li>
            <li (click)="goToCreation()" title="Création" >
                <em   class="far  fa-2x fa-file"></em>
                <span class="menu-title" >Création</span>
            </li>
            <li title="Chart" (click)="goToStat()">
                <em  class=" fas  fa-2x fa-chart-bar"></em>
                <span class="menu-title" >Chart</span>
            </li>
        </ul>
    </mat-sidenav>
    <div class="summary-actions-wrapper">
        
            <div *ngIf="quizToDispaly" class="cus-sizable wrapper-div card p-3 m-2 taille-card">
                <div>statistique: {{quizToDispaly.name}}</div>
                <app-admin-chart [quiz]="quizToDispaly"></app-admin-chart>
                <!--<button (click)="goToStat()" class="btn-play-quiz ml-1 mr-1 btn btn-success cus-sizable">voir</button>
                --></div>
            <div class="cus-sizable wrapper-div card p-3 m-2 taille-card">
            <div> créer un quiz </div>
                <app-admin-form-creation-quiz></app-admin-form-creation-quiz>
                <!--<button (click)="goToCreation()" class="btn-play-quiz ml-1 mr-1 mt-2 btn btn-success cus-sizable">voir</button>
            ---></div>
        
        </div>
</mat-sidenav-container>