ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


ul li+li{
    margin-top: 3px;
}
ul li{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar, .menu-title{
    font-size: 1.1rem;
font-family: 'Montserrat', Helvetica, Arial, serif;
font-weight: 400;
}
.taille-card{
    width: 32%;
    height: 32%;
}

.row{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.column{
    display: flex;
    flex-direction: row;
}

.summary-actions-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}