<mat-sidenav-container class="height-total">
    <mat-sidenav class="navbar sidenav-content" mode="side" opened>
        <ul>
            <li class="nav-link" routerLink="./" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" title="Home">
                <em  class="fas fa-2x fa-home"></em>
                <span class="menu-title" >Dashboard</span>
            </li>
            <li routerLinkActive="active" class="nav-link" routerLink="./quiz"  title="Création" >
                <em   class="far  fa-2x fa-file"></em>
                <span class="menu-title" >Création</span>
            </li>
            <li routerLinkActive="active" class="nav-link" routerLink="./statistique" title="Chart"  >
                <em  class=" fas  fa-2x fa-chart-bar"></em>
                <span class="menu-title" >Chart</span>
            </li>
        </ul>
    </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
    
    
</mat-sidenav-content>
</mat-sidenav-container>