@media(min-width:1000px) {
  .quiz-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cusize2x.quiz-list {
    grid-template-columns: 1fr 1fr;
  }
  .cusize3x.quiz-list {
    grid-template-columns: 1fr 1fr;
    
  }

  .cusize4x.quiz-list {
    grid-template-columns: 1fr 1fr;
    
  }
}

@media(max-width:415px) {
  .quiz-list {
    grid-template-columns: 1fr;
  }
}