.question-list {
    display: flex;
    margin: 0.5em;
}

.question{
    display: flex;
    flex-direction: column;
}

app-question{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
