<div class=" card-deck pl-5" [ngClass]="setClasses()">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->

    <div *ngFor="let theme of themeList" >
        <ng-container *ngIf="theme != null">
            <div class="mycard m-2 " [ngClass]="setClasses()">
                <div class="card-body" [ngClass]="setClasses()">
                    
                    <h2 class="card-title d-flex justify-content-center" [ngClass]="setClasses()">
                        <app-lecteur [textToRead]="theme" ></app-lecteur>
                        {{theme}}</h2>
                    <button class="btnToQuizList btn btn-success" [ngClass]="setClasses()" (click)="toQUizList(theme)">Accéder aux quiz de ce
                        thème</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>