

.wrapper-div{
    width: 300px;
    height: 200px;
}
.quiz-title{
    text-transform: capitalize;
}
/** 2x*/
.cusize2x.wrapper-div{
    width: 500px;
    height: 300px;
}
.quiz-title.cusize2x{
    
    font-size: 24pt;
}
.card-subtitle.cusize2x{
    font-size: 18pt;
}
.cusize2x.btn-play-quiz{
    font-size: 18pt;
}


.cusize3x.wrapper-div{
    width: 500px;
    height: 300px;
}

.cusize4x.wrapper-div{
    width: 500px;
    height: 300px;
}

.card.darktheme{
    box-shadow: 0px 0px 2px white;
}


