

.wrapper-div{
    width: 300px;
    height: 200px;
}

.cus-sizable.cussize-2x.wrapper-div{
    width: 500px;
    height: 300px;
}


.cus-sizable.cussize-3x.wrapper-div{
    width: 700px;
    height: 300px;
}


