/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.q-default {
  background-color: white;
  color: black;
}

.q-success {
  background-color: green;
  color: white;
}

.q-danger {
  background-color: red;
  color: white;
}

.q-warning {
  background-color: orangered;
  color: white;
}

.darktheme{
  background-color: #1b1f23;
  color: white;
}

/** ------------------For the adaptability of the size of the elements-------------------------------------------------*/

.cusize1x {
  font-size: 10pt;
}

.cusize2x {
  font-size: 14pt;
}

.cusize3x {
  font-size: 18pt;
}

.cusize4x {
  font-size: 24pt;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  
}

.mycard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.darkaccent{
  background-color: #ea80fc;
}