/* You can add global styles to this file, and also import other style files */

.q-default {
  background-color: white;
  color: black;
}

.q-success {
  background-color: green;
  color: white;
}

.q-danger {
  background-color: red;
  color: white;
}

.q-warning {
  background-color: orangered;
  color: white;
}

.themed.custheme-dark.q-default{
  background-color: black;
  color: white;
}
/** ------------------For the adaptability of the size of the elements-------------------------------------------------*/


.cussize-1x{
  font-size: 10pt;
}

.cussize-2x{
  font-size: 14pt;
}

.cussize-3x{
  font-size: 18pt;
}

.cussize-3x{
  font-size: 24pt;
}