/* You can add global styles to this file, and also import other style files */

.q-default {
  background-color: white;
  color: black;
}

.q-success {
  background-color: green;
  color: white;
}

.q-danger {
  background-color: red;
  color: white;
}

.q-warning {
  background-color: orangered;
  color: white;
}

.themed.custheme-dark.q-default{
  background-color: black;
  color: white;
}