<div class="container">
    <label for="titre-quiz">
        Titre du Quiz
    </label>
    <input type="text" id="titre-quiz" class="form-control">
    <div class="row flex-row justify-content-around mt-3">
        <button (click)="addAnswer()" class="btn btn-info">Add answer</button>

    </div>
    <div [formGroup]="questionForm">


        <div class="wrapper-answers" formArrayName="answers">

            <div *ngFor="let address of answers.controls; let i=index">

                <div [formGroupName]="i">
                    <input type="text" [formControlName]="'value'">
                    <input type="checkbox" name="" id="" [formControlName]="'isCorrect'">

                </div>

            </div>
            Something here
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success">Create</button>
    </div>
</div>